@media (max-width: 375px) {
  body{
    background-color: #888;
  }
  .container{
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar{
    margin-bottom: 0px;
  }
  #pageVerbs{
  padding:20px;
  }
  .features{
    padding-left: 10px;
    padding-right: 10px;
  }
  .wellText{
    background-color: #222;
    color:#999;
  }
}
